{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>User: {{ this_user.username }}</h1>
    <p>This site is designed to showcase the Django projects from the Iron Yard
        in Durham in the Python class during summer 2015. There are 4 main apps
        that were produced, and these are combined here into a single project
        with a single user account system.
    </p>
  </div>

  {% if is_self %}<p>This is you!</p>{% endif %}

  <p><a href="{% url 'edit_user' %}">Edit your information</a></p>

  <div class="row">
      <div class="col-sm-6">
          <h3>Basic stats</h3>
          <ul>
              <li>Username: {{ this_user.username }}</li>
          </ul>
      </div>
      <div class="col-sm-6">
          <h3>Edit Basic stats</h3>
      </div>
  </div>

  <hr />

{% endblock %}
